<div class="master">

  <div class="chartBar"></div>
  <div class="tableVal"></div>


  <div id="wrapper">
    <div class="content-area">
      <div class="container-fluid">
        <div class="text-right mt-3 mb-3 d-fixed">
          <a
            href="#"
            target="_blank"
            class="btn btn-outline-warning mr-2"
          >
            <span class="btn-text">Iniciar Contagem</span>
          </a>
        </div>
        <div class="main">
          <div class="row mt-4">
            <div class="col-md-5">
              <div class="sizeKeep box columnbox mt-4">
                <h2>Notifications</h2>
                <p *ngIf="show" class="miss"><b>SKU:8901</b> está ERRADO na baia de Picking 4</p>
                <p class="miss"><b>SKU:7890</b> está Perdido - SA-32</p>
                <p class="warn"><b>SKU:3456</b> Shelf life quase a expirar</p>
                <p class="dmg"><b>SKU:5678</b> tem Dano - SA-21</p>
                <p class="dmg"><b>SKU:6789</b> tem Dano - SA-22</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="sizeKeep box mt-4">
                <h1>Contagem</h1>
                <div id="chart"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="barChart box columnbox mt-4">
                <div id="bar_chart"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="box columnbox mt-4">
                <h1>Ofensores</h1>
                <div id="line_chart"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="table_box box mt-4">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Pos. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="sku">
                    <th mat-header-cell *matHeaderCellDef> SKU </th>
                    <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight (kg) </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> <b>{{element.status}}</b> </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>